body{
    background-color: #efefef;
}

.main {
    background-color: white;
    margin: 30px;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.media-object {
    height: 38px;
    width: 38px;
}

.sponsor {
    padding-top: 10px;
}

.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999999;
}

.profile .section {
    margin-top: 15px;
}

.jumbotron {
    margin: 50px;
}

.comment {
    margin: 10px 0;
}

.comments {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.question-title {
    margin-top: 30px;
}

.menu {
    color: #999;
    margin-top: 5px;
}
.menu .icon {
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}
.menu .icon:hover{
    color: #499ef3;
}